html, body {
  height: 100%;
}

body {
  background-image: url(./images/backgroundImgTatiana.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  padding: 0;
  background-position: top;
}

.notfound {
  color: black;
  text-align: center;
  position: fixed;
  top: 25%;
}

#aboutSec {
  margin-top: 1%;
}

.profile {
  margin: 0 auto;
  width: 200px;
  height: auto;
  padding: 1%;
  border-radius: 50%;
}

.about-me {
  text-align: center;
}

.skills-text {
  font-weight: bold;
}

.contactCard {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.portfolioMain {
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-bottom: 10%;
}

.logo {
  padding-bottom: 10px;
  max-height: 100px;
}

#linkedinIcon, #githubIcon {
  color: #eeeeee;
  padding: 5px;
}

.contactHeader, .card-body {
  color: #eeeeee;
}

.portLink, .portCard {
  color: #495057;
}

.projectName {
  font-weight: bold;
}

.portText {
  color: #495057;
}

.repoLink {
  margin-bottom: 2%;
}

@media screen and (max-width: 766px) {
  .contact-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .contact-me {
    margin: 0 auto;
  }

  .portfolioMain {
    margin-bottom: 35%;
  }
}

@media screen and (max-width: 450px) {    
  .about-me-text, .skills-text {
      font-size: 14px;
      margin-right: 3%
  }

  #aboutSec {
    margin-bottom: 25%;
    margin-left: 1%;
  }
}