html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/backgroundImgTatiana.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.notfound {
  color: black;
  text-align: center;
  position: fixed;
}
