.navbarCustom {
    border-bottom: 1px solid #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    min-height: 50px;
    position: sticky;
    top: 0;
}

#name {
    font-size: 24px;
    font-weight: bolder;
    color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2px;
}

@media screen and (max-width: 766px) {
      /* styles navbar brand after menu collapse */
     .navbar-brand {
         position: absolute;
         margin-top: 5px;
         width: 200px;
         font-size: 18px;
     }
 
     #name {
         font-size: 18px;
     }
 
     .navbarCustom {
         font-size: 16px;
     }
 }